# Dependencies
node_modules/
dist/
secret-admin/dist/
secret-admin/node_modules/

# Local Environment Variables
.env
.env.local
.env.*.local

# Local Databases
server/*.db
server/*.db-journal

# Editor / System Files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
